<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    <link rel="icon" href=".{{ asset('build/panel/static/img/logo/icon.svg', 'panel') }}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/panel/static/img/logo/icon.png', 'panel') }}">
    <link rel="shortcut icon" href="{{ asset('/build/panel/static/img/logo/favicon.ico') }}" type="image/ico">
    <link rel="manifest" href="{{ asset('site.webmanifest', 'panel') }}">

    <script>
        window.location.replace("/security/login");
    </script>
</head>
<body>
</body>
</html>
