{% trans_default_domain 'front' %}

<div class="projects" id="projects">
	<hr class="separed_tabs">

	<div class="portfolio_title">
		<h2>{{ 'portfolio.projects.title'|trans }}</h2>
		<p>{{ 'portfolio.projects.description'|trans }}</p>
	</div>

	<div class="projects_list">

        {% for i in 100..1 %}
            {% if "portfolio.projects_list.#{ i }"|trans != "portfolio.projects_list.#{ i }" %}
                {% set project_name = "portfolio.projects_list.#{ i }"|trans %}

                {% include 'front/portfolio/components/_project_card.html.twig' with {
                    'project_name': "project.#{ project_name }.project_name"|trans,
                    'project_title': "project.#{ project_name }.title"|trans,
                    'project_description': "project.#{ project_name }.description"|trans,
                    'project_status': "project.#{ project_name }.status"|trans,
                    'project_year': "project.#{ project_name }.year"|trans,
                    'project_skill': "project.#{ project_name }.skill"|trans,
					'project_card_image': "project.#{ project_name }.card_image"|trans,
                } %}
            {% endif %}
        {% endfor %}

	</div>
</div>
