@import "~bootstrap/scss/bootstrap";

.required::after {
    content: "*";
    color: red;
}

header {
    height: 75px;
}

footer {
    height: 100px;
}

main {
    min-height: calc(100vh - 100px - 75px);
}