{% props id = 'delete-'~id~'-danger', href = '#' %}

{#<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ id }}">#}
{#    Launch demo modal#}
{#</button>#}

<div class="modal" id="{{ id }}" tabindex="-1">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-status bg-danger"></div>
            <div class="modal-body text-center py-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon mb-2 text-danger icon-lg">
                    <path d="M12 9v4"></path>
                    <path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z"></path>
                    <path d="M12 16h.01"></path>
                </svg>

                <h3>Êtes-vous sûre ?</h3>
                <div class="text-secondary">Voulez-vous vraiment supprimer ces donnée(s)</div>
            </div>

            <div class="modal-footer">
                <div class="w-100">
                    <div class="row">
                        <div class="col">
                            <a href="#" class="btn btn-3 w-100" data-bs-dismiss="modal"> Annuler </a>
                        </div>
                        <div class="col">
                            <form action="{{ href }}" method="POST" class="m-0 p-0">
                                <button type="submit" class="btn btn-danger btn-4 w-100" data-bs-dismiss="modal"> Confirmer </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
