{% trans_default_domain 'front' %}

{% extends 'base.html.twig' %}

{% block title '- Portfolio' %}

{% block header %}
	{% include 'front/portfolio/components/header.html.twig' %}
{% endblock %}

{% block main %}
	<div class="portfolio--container-main">
		{% include 'front/portfolio/components/home.html.twig' %}
		{% include 'front/portfolio/components/aboutme.html.twig' %}
		{% include 'front/portfolio/components/projects.html.twig' %}

		{% include 'front/portfolio/components/mobile_formation.html.twig' %}
		{% include 'front/portfolio/components/mobile_experience.html.twig' %}
		{% include 'front/portfolio/components/desktop_fe.html.twig' %}
		{% include 'front/portfolio/components/contact.html.twig' %}

		<script src="{{ asset('build/front/static/js/scrollTo.js', 'front') }}"></script>
	</div>
{% endblock %}

{% block footer_attribut %}
	class="desktop"
{% endblock %}
{% block footer %}
	<p>© 2023-{{ 'now' | date('Y') }} <a href="https://romainmillan.fr/">
		<twig:rm-tag
			style="margin-bottom: -5px"
			isFillAnimated="true"
			isFilledWhite="true"
			hasRedirect="true"
		/>
		</a>, {{ 'portfolio.footer.all_right_reserved'|trans }}</p>
	<p>{{ 'portfolio.footer.no_reproduce'|trans }}</p>
{% endblock %}
