{% trans_default_domain 'front' %}

{% extends 'base.html.twig' %}

{% block title '- Portfolio' %}

{% block header %}
	{% include 'front/portfolio/components/header.html.twig' %}
{% endblock %}

{% block main %}
	<div class="portfolio--container-main">
		{% include 'front/portfolio/components/home.html.twig' %}
		{% include 'front/portfolio/components/aboutme.html.twig' %}
		{% include 'front/portfolio/components/projects.html.twig' %}

		{% include 'front/portfolio/components/mobile_formation.html.twig' %}
		{% include 'front/portfolio/components/mobile_experience.html.twig' %}
		{% include 'front/portfolio/components/desktop_fe.html.twig' %}
		{% include 'front/portfolio/components/contact.html.twig' %}

		<script src="{{ asset('build/front/static/js/scrollTo.js', 'front') }}"></script>
	</div>
{% endblock %}

{% block footer_attribut %}
	class="desktop"
{% endblock %}
{% block footer %}
	<p>© 2023-{{ 'now' | date('Y') }} <a href="https://romainmillan.fr/">
			<svg style="margin-bottom: -5px" class="rm-logo fill-animation" width="75px" viewBox="0 0 943 192" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path class="logo-path" d="M53.76 141L35.072 107.08H29.824V141H7.93604V51.1438H44.672C51.7547 51.1438 57.7707 52.3811 62.72 54.8558C67.7547 57.3305 71.5093 60.7438 73.984 65.0958C76.4587 69.3625 77.696 74.1411 77.696 79.4318C77.696 85.4051 75.9893 90.7385 72.576 95.4318C69.248 100.125 64.2987 103.453 57.728 105.416L78.464 141H53.76ZM29.824 91.5918H43.392C47.4027 91.5918 50.3893 90.6105 52.352 88.6478C54.4 86.6851 55.424 83.9118 55.424 80.3278C55.424 76.9145 54.4 74.2265 52.352 72.2638C50.3893 70.3011 47.4027 69.3198 43.392 69.3198H29.824V91.5918ZM123.948 142.024C116.951 142.024 110.636 140.531 105.004 137.544C99.4573 134.557 95.0627 130.291 91.82 124.744C88.6627 119.197 87.084 112.712 87.084 105.288C87.084 97.9491 88.7053 91.5065 91.948 85.9598C95.1907 80.3278 99.628 76.0185 105.26 73.0318C110.892 70.0451 117.207 68.5518 124.204 68.5518C131.201 68.5518 137.516 70.0451 143.148 73.0318C148.78 76.0185 153.217 80.3278 156.46 85.9598C159.703 91.5065 161.324 97.9491 161.324 105.288C161.324 112.627 159.66 119.112 156.332 124.744C153.089 130.291 148.609 134.557 142.892 137.544C137.26 140.531 130.945 142.024 123.948 142.024ZM123.948 123.08C128.129 123.08 131.671 121.544 134.572 118.472C137.559 115.4 139.052 111.005 139.052 105.288C139.052 99.5705 137.601 95.1758 134.7 92.1038C131.884 89.0318 128.385 87.4958 124.204 87.4958C119.937 87.4958 116.396 89.0318 113.58 92.1038C110.764 95.0905 109.356 99.4851 109.356 105.288C109.356 111.005 110.721 115.4 113.452 118.472C116.268 121.544 119.767 123.08 123.948 123.08ZM264.072 68.8078C272.947 68.8078 279.987 71.4958 285.192 76.8718C290.483 82.2478 293.128 89.7145 293.128 99.2718V141H271.368V102.216C271.368 97.6078 270.131 94.0665 267.656 91.5918C265.267 89.0318 261.939 87.7518 257.672 87.7518C253.405 87.7518 250.035 89.0318 247.56 91.5918C245.171 94.0665 243.976 97.6078 243.976 102.216V141H222.216V102.216C222.216 97.6078 220.979 94.0665 218.504 91.5918C216.115 89.0318 212.787 87.7518 208.52 87.7518C204.253 87.7518 200.883 89.0318 198.408 91.5918C196.019 94.0665 194.824 97.6078 194.824 102.216V141H172.936V69.5758H194.824V78.5358C197.043 75.5491 199.944 73.2025 203.528 71.4958C207.112 69.7038 211.165 68.8078 215.688 68.8078C221.064 68.8078 225.843 69.9598 230.024 72.2638C234.291 74.5678 237.619 77.8531 240.008 82.1198C242.483 78.1945 245.853 74.9945 250.12 72.5198C254.387 70.0451 259.037 68.8078 264.072 68.8078ZM304.084 105.16C304.084 97.8211 305.449 91.3785 308.18 85.8318C310.996 80.2851 314.793 76.0185 319.572 73.0318C324.351 70.0451 329.684 68.5518 335.572 68.5518C340.607 68.5518 345.001 69.5758 348.756 71.6238C352.596 73.6718 355.54 76.3598 357.588 79.6878V69.5758H379.476V141H357.588V130.888C355.455 134.216 352.468 136.904 348.628 138.952C344.873 141 340.479 142.024 335.444 142.024C329.641 142.024 324.351 140.531 319.572 137.544C314.793 134.472 310.996 130.163 308.18 124.616C305.449 118.984 304.084 112.499 304.084 105.16ZM357.588 105.288C357.588 99.8265 356.052 95.5171 352.98 92.3598C349.993 89.2025 346.324 87.6238 341.972 87.6238C337.62 87.6238 333.908 89.2025 330.836 92.3598C327.849 95.4318 326.356 99.6985 326.356 105.16C326.356 110.621 327.849 114.973 330.836 118.216C333.908 121.373 337.62 122.952 341.972 122.952C346.324 122.952 349.993 121.373 352.98 118.216C356.052 115.059 357.588 110.749 357.588 105.288ZM417.199 69.5758V141H395.311V69.5758H417.199ZM476.581 68.8078C484.944 68.8078 491.6 71.5385 496.549 76.9998C501.584 82.3758 504.101 89.7998 504.101 99.2718V141H482.341V102.216C482.341 97.4371 481.104 93.7251 478.629 91.0798C476.154 88.4345 472.826 87.1118 468.645 87.1118C464.464 87.1118 461.136 88.4345 458.661 91.0798C456.186 93.7251 454.949 97.4371 454.949 102.216V141H433.061V69.5758H454.949V79.0478C457.168 75.8905 460.154 73.4158 463.909 71.6238C467.664 69.7465 471.888 68.8078 476.581 68.8078ZM648.196 51.1438V141H626.308V87.1118L606.212 141H588.548L568.324 86.9838V141H546.436V51.1438H572.292L597.508 113.352L622.468 51.1438H648.196ZM685.824 69.5758V141H663.936V69.5758H685.824ZM723.574 46.2798V141H701.686V46.2798H723.574ZM761.324 46.2798V141H739.436V46.2798H761.324ZM772.834 105.16C772.834 97.8211 774.199 91.3785 776.93 85.8318C779.746 80.2851 783.543 76.0185 788.322 73.0318C793.101 70.0451 798.434 68.5518 804.322 68.5518C809.357 68.5518 813.751 69.5758 817.506 71.6238C821.346 73.6718 824.29 76.3598 826.338 79.6878V69.5758H848.226V141H826.338V130.888C824.205 134.216 821.218 136.904 817.378 138.952C813.623 141 809.229 142.024 804.194 142.024C798.391 142.024 793.101 140.531 788.322 137.544C783.543 134.472 779.746 130.163 776.93 124.616C774.199 118.984 772.834 112.499 772.834 105.16ZM826.338 105.288C826.338 99.8265 824.802 95.5171 821.73 92.3598C818.743 89.2025 815.074 87.6238 810.722 87.6238C806.37 87.6238 802.658 89.2025 799.586 92.3598C796.599 95.4318 795.106 99.6985 795.106 105.16C795.106 110.621 796.599 114.973 799.586 118.216C802.658 121.373 806.37 122.952 810.722 122.952C815.074 122.952 818.743 121.373 821.73 118.216C824.802 115.059 826.338 110.749 826.338 105.288ZM907.581 68.8078C915.944 68.8078 922.6 71.5385 927.549 76.9998C932.584 82.3758 935.101 89.7998 935.101 99.2718V141H913.341V102.216C913.341 97.4371 912.104 93.7251 909.629 91.0798C907.154 88.4345 903.826 87.1118 899.645 87.1118C895.464 87.1118 892.136 88.4345 889.661 91.0798C887.186 93.7251 885.949 97.4371 885.949 102.216V141H864.061V69.5758H885.949V79.0478C888.168 75.8905 891.154 73.4158 894.909 71.6238C898.664 69.7465 902.888 68.8078 907.581 68.8078Z"/> <!-- Remplacez avec votre chemin exact -->
				<circle class="logo-circle" cx="406" cy="49" r="14" fill="none"/>
				<circle class="logo-circle" cx="675" cy="49" r="14" fill="none"/>
			</svg>
		</a>, {{ 'portfolio.footer.all_right_reserved'|trans }}</p>
	<p>{{ 'portfolio.footer.no_reproduce'|trans }}</p>
{% endblock %}
