{% extends 'frontend/base.html.twig' %}

{% block content %}
    <article>
        <header class="title--container">
            <h1>{{ content.title }}</h1>
        </header>

        {% if content.blocks is defined %}
            {% for block in content.blocks %}
                {% include 'blocks/' ~ block.type ~ '.html.twig' %}
            {% endfor %}
        {% endif %}
    </article>
{% endblock %}
