{% props data = [], sortable = false, sortableUrl = null %}

<div class="card w-100">
    <div class="card-header">
        <div class="row w-full">
            <div class="col">
                <h3 class="card-title mb-0">{% block title '' %}</h3>
            </div>
            <div class="col-md-auto col-sm-12">
                <div class="ms-auto d-flex flex-wrap btn-list">
                    {% block filterForm '' %}
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">

        <table class="table table-selectable card-table table-vcenter table-striped text-nowrap datatable">

            <thead>
            <tr>
                {% if sortable %}<th class="w-1"></th>{% endif %}
                {% block thead '' %}
            </tr>
            </thead>

            <tbody{% if sortable %} data-controller="sortable-list" data-sortable-list-url-value="{{ sortableUrl }}"{% endif %}>
                {% for object in data %}
                    <tr{% if sortable %} data-id="{{ object.id }}"{% endif %}>
                        {% if sortable %}
                            <td class="text-muted" data-sortable-list-target="handle" style="cursor: grab;">
                                {{ ux_icon('tabler:grip-vertical', {width: '20px', height: '20px'}) }}
                            </td>
                        {% endif %}
                        {% block content '' %}
                    </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>

    <div class="card-footer d-flex align-items-center">
        <p class="m-0 text-secondary">
            {% if data|length == 0 %}
                Aucun
            {% else %}
                <span>{{ data|length }}</span>
            {% endif %}
             Résultat(s)
        </p>
    </div>

</div>
