{% extends 'panel/gestion/application/base.html.twig' %}

{% block content %}
    <div class="col-11 col-md-10 col-xl-8 d-flex flex-row justify-content-center me-auto ms-auto">

        <twig:panel:form
            cancelLink="{{ path('app_panel_gestion_application_list') }}"
            form="{{ form }}"
        >
            {% block title 'Édition de l\'application "'~entity.name~'"' %}

            {% block content %}
                {% include 'panel/gestion/application/_form_content.html.twig' %}
            {% endblock %}
        </twig:panel:form>

    </div>
{% endblock %}
