{% extends 'panel/base.html.twig' %}
{% block title 'Infrastructure' %}

{% block content %}
    <div class="container-xl">

        <pre class="mermaid bg-light">
            {{ content }}
        </pre>

    </div>
{% endblock %}
