{% extends 'panel/base.html.twig' %}

{% block main %}
    <section class="p-5">
        <h1>Bonjour {{ app.user }} 👋,</h1>
    </section>

    <section class="p-5 d-flex flex-column flex-lg-row justify-content-around">
        <div class="card w-xl-45">
            <div class="card-header">
                <h2>Self-hosted</h2>
            </div>

            <div class="card-body ms-2">
                <div>
                    <h3>Panel</h3>

                    <div class="ms-3 d-flex flex-column flex-lg-row justify-content-start gap-2">
                        <a href="{{ path('app_panel_prod_01_uptime_kuma') }}" class="btn btn-dark btn-lg">Statuts <span class="badge text-white text-bg-info">PROD 01</span></a>
                        <a href="{{ path('app_panel_cloud_uptime_robot') }}" class="btn btn-dark btn-lg">Statuts <span class="badge text-white text-bg-info">CLOUD</span></a>
                    </div>
                </div>

                <div class="mt-4">
                    <h3>Production 01</h3>

                    <div class="ms-3 d-flex flex-column flex-lg-row flex-lg-wrap justify-content-start gap-2" >
                        <a href="https://status.romainmillan.fr/" target="_blank" class="btn btn-primary btn-lg">Uptime Kuma</a>
                        <a href="https://passwords.romainmillan.fr/" target="_blank" class="btn btn-primary btn-lg">Vaultwarden</a>
                        <a href="https://passwords.romainmillan.fr/admin/" target="_blank" class="btn btn-secondary btn-lg">Vaultwarden <span class="badge text-white text-bg-warning">Admin</span></a>
                        <a href="https://client-web-infra.pve2.umdev.fr/" target="_blank" class="btn btn-secondary btn-lg">Ngnix Proxy Manager</a>
                        <a href="https://prod.romainmillan.fr/" target="_blank" class="btn btn-secondary btn-lg">Dockge</a>
                    </div>
                </div>

                <div class="mt-4">
                    <h3>Production 02</h3>

                    <div class="ms-3 d-flex flex-column flex-lg-row justify-content-start gap-2">
                        <a href="http://192.168.1.29:8006/" target="_blank" class="btn btn-secondary btn-lg">PVE <span class="badge text-white text-bg-warning">Local</span></a>
                        <a href="http://192.168.1.152:81/" target="_blank" class="btn btn-secondary btn-lg">Ngnix Proxy Manager <span class="badge text-white text-bg-warning">Local</span></a>
                    </div>
                </div>

                <div class="mt-4">
                    <h3>Cloud</h3>

                    <div class="ms-3 d-flex flex-column flex-lg-row justify-content-start gap-2">
                        <a href="https://www.ovh.com/manager/#/hub" target="_blank" class="btn btn-primary btn-lg">OVH Cloud</a>
                        <a href="https://dashboard.uptimerobot.com/monitors" target="_blank" class="btn btn-primary btn-lg">Uptime Robot</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card w-xl-45 mt-4 mt-lg-0">
            <div class="card-header">
                <h2>Raccourcis</h2>
            </div>

            <div class="card-body ms-2">
                <div>
                    <h3>Développement</h3>

                    <div class="ms-3 d-flex flex-column flex-lg-row justify-content-start gap-2">
                        <a href="https://github.com/RomainMILLAN" target="_blank" class="btn btn-primary btn-lg">Github</a>
                    </div>
                </div>

                <div class="mt-4">
                    <h3>Hébergement</h3>

                    <div class="ms-3 d-flex flex-column flex-lg-row justify-content-start gap-2">
                        <a href="https://tteck.github.io/Proxmox/" target="_blank" class="btn btn-primary btn-lg">Scripts proxmox</a>
                    </div>
                </div>

                <div class="mt-4">
                    <h3>Client</h3>

                    <div class="row ms-2">
                        <h4>A.G.E.S.</h4>

                        <div class="ms-3 d-flex flex-column flex-lg-row justify-content-start gap-2">
                            <a href="https://github.com/orgs/ages-sete/repositories" target="_blank" class="btn btn-primary btn-lg">Github</a>
                            <a href="https://achacha.o2switch.net:2083/" target="_blank" class="btn btn-primary btn-lg">Espace Technique</a>
                            <a href="https://clients.o2switch.fr/auth/connexion" target="_blank" class="btn btn-primary btn-lg">Espace Client</a>
                        </div>
                    </div>
                    <div class="row ms-2 mt-2">
                        <h4>BTeck</h4>

                        <div class="ms-3 d-flex flex-column flex-lg-row justify-content-start gap-2">
                            <a href="https://gitlab.umdev.fr/bteck1/website" target="_blank" class="btn btn-primary btn-lg">Gitlab <span class="badge text-white text-bg-secondary">UMDEV</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}