{% extends 'panel/base.html.twig' %}

{% block content %}
    <div class="container-xl">
        <div class="row row-deck row-cards">
            <twig:MonitorStatus
                    monitorStatus="up"
            />

            <twig:MonitorStatus
                    monitorStatus="down"
            />

            <twig:MonitorStatus
                    monitorStatus="maintenance"
            />
        </div>

        <section class="container-xl mt-3">
            <div class="row row-cards">
                <h2>Self Hosted</h2>

                <twig:panel:dashboard:serviceCard
                        title="Uptime Kuma"
                        description="Monitoring des services"
                        avatar="uptime-kuma"
                        actions="{{ [
                            {url: 'https://status.romainmillan.fr'},
                            {url: path('app_panel_service_prod_01_uptime_kuma'), icon: 'tabler:app-window', title: 'Interface', target: '_self'},
                        ] }}"
                        tags="{{ [
                            {name: 'PROD 01', color: 'purple'},
                        ] }}"
                />

                <twig:panel:dashboard:serviceCard
                        title="Finance"
                        description="Gestionnaire de finance fait maison"
                        avatar="php"
                        actions="{{ [
                            {url: 'https://finance.romainmillan.fr/app'},
                        ] }}"
                        tags="{{ [
                            {name: 'PROD 02', color: 'purple'},
                        ] }}"
                />

                <twig:panel:dashboard:serviceCard
                        title="Vaultwarden"
                        description="Gestionnaire de mot de passe"
                        avatar="bitwarden"
                        actions="{{ [
                            {url: 'https://passwords.romainmillan.fr'},
                        ] }}"
                        tags="{{ [
                            {name: 'PROD 02', color: 'purple'},
                        ] }}"
                />

                <twig:panel:dashboard:serviceCard
                        title="Dockge"
                        description="Gestionnaire de conteneurs"
                        avatar="dockge"
                        actions="{{ [
                            {url: 'https://prod.romainmillan.fr/'},
                            {url: path('app_panel_service_prod_01_dockge'), icon: 'tabler:app-window', title: 'Interface', target: '_self'},
                        ] }}"
                        tags="{{ [
                            {name: 'PROD 01', color: 'purple'},
                        ] }}"
                />

                <twig:panel:dashboard:serviceCard
                        title="PVE"
                        description="Gestionnaire de VM"
                        avatar="proxmox"
                        actions="{{ [
                            {url: 'http://192.168.1.29:8006/'},
                        ] }}"
                        tags="{{ [
                            {name: 'PROD 02', color: 'purple'},
                            {name: 'LOCAL', color: 'orange'},
                        ] }}"
                />

                <twig:panel:dashboard:serviceCard
                        title="Home Assistant"
                        description="Pour la gestion de la domotique"
                        avatar="home-assistant"
                        actions="{{ [
                            {url: 'http://192.168.1.29:8006/'},
                        ] }}"
                        tags="{{ [
                            {name: 'PROD 02', color: 'purple'},
                            {name: 'LOCAL', color: 'orange'},
                        ] }}"
                />

                <twig:panel:dashboard:serviceCard
                        title="Nginx Proxy Manager"
                        description="Gestionnaire de reverse proxy"
                        avatar="nginx-proxy-manager"
                        actions="{{ [
                            {url: 'http://192.168.1.152:81/'},
                        ] }}"
                        tags="{{ [
                            {name: 'PROD 02', color: 'purple'},
                            {name: 'LOCAL', color: 'orange'},
                        ] }}"
                />

                <twig:panel:dashboard:serviceCard
                        title="Nginx Proxy Manager"
                        description="Gestionnaire de reverse proxy"
                        avatar="nginx-proxy-manager"
                        actions="{{ [
                            {url: 'https://client-web-infra.pve2.umdev.fr/'},
                        ] }}"
                        tags="{{ [
                            {name: 'PROD 01', color: 'purple'},
                        ] }}"
                />

                <twig:panel:dashboard:serviceCard
                        title="OVH Cloud"
                        description="Hébergement des services & Nom de domaine"
                        avatar="ovh"
                        actions="{{ [
                            {url: 'https://www.ovh.com/manager/#/hub'},
                        ] }}"
                        tags="{{ [
                            {name: 'CLOUD', color: 'purple'},
                        ] }}"
                />

                <twig:panel:dashboard:serviceCard
                        title="Uptime Robot"
                        description="Monitoring des services les plus importants"
                        avatar="uptime-kuma"
                        actions="{{ [
                            {url: 'https://dashboard.uptimerobot.com/monitors'},
                        ] }}"
                        tags="{{ [
                            {name: 'CLOUD', color: 'purple'},
                        ] }}"
                />
            </div>

            <div class="row row-cards mt-5">
                <h2>Raccourcis</h2>

                <twig:panel:dashboard:serviceCard
                        title="Github"
                        description="Gestionnaire de code"
                        avatar="github"
                        actions="{{ [
                            {url: 'https://github.com/RomainMILLAN'},
                        ] }}"
                        tags="{{ [
                            {name: 'Développement', color: 'blue'},
                        ] }}"
                />
                <twig:panel:dashboard:serviceCard
                        title="Proxmox Scripts"
                        description="Un lot de scripts pour Proxmox"
                        avatar="proxmox"
                        actions="{{ [
                            {url: 'https://community-scripts.github.io/ProxmoxVE/'},
                        ] }}"
                        tags="{{ [
                            {name: 'Hébergement', color: 'blue'},
                        ] }}"
                />
                <twig:panel:dashboard:serviceCard
                        title="Github"
                        description="Code source du projet"
                        avatar="github"
                        actions="{{ [
                            {url: 'https://github.com/orgs/ages-sete/repositories'},
                        ] }}"
                        tags="{{ [
                            {name: 'Client', color: 'blue'},
                            {name: 'A.G.E.S.', color: 'yellow'},
                        ] }}"
                />
                <twig:panel:dashboard:serviceCard
                        title="Espace Technique"
                        description="Espace technique de l'hébergement."
                        avatar="servarr"
                        actions="{{ [
                            {url: 'https://achacha.o2switch.net:2083/'},
                        ] }}"
                        tags="{{ [
                            {name: 'Client', color: 'blue'},
                            {name: 'A.G.E.S.', color: 'yellow'},
                        ] }}"
                />
                <twig:panel:dashboard:serviceCard
                        title="Espace Client"
                        description="Espace client de l'hébergement."
                        avatar="servarr"
                        actions="{{ [
                            {url: 'https://clients.o2switch.fr/auth/connexion'},
                        ] }}"
                        tags="{{ [
                            {name: 'Client', color: 'blue'},
                            {name: 'A.G.E.S.', color: 'yellow'},
                        ] }}"
                />
                <twig:panel:dashboard:serviceCard
                        title="Gitlab"
                        description="Code source du projet."
                        avatar="gitlab"
                        actions="{{ [
                            {url: 'https://gitlab.umdev.fr/bteck1/website'},
                        ] }}"
                        tags="{{ [
                            {name: 'Client', color: 'blue'},
                            {name: 'BTeck', color: 'yellow'},
                            {name: 'UMDev', color: 'red'},
                        ] }}"
                />
            </div>

        </section>

    </div>
{% endblock %}
