{% extends 'panel/base.html.twig' %}

{% set link = link ?? '' %}
{% set openLink = openLink ?? link %}

{% block page_actions %}
    <div class="btn-list">
        <a href="{{ openLink }}" target="_blank" class="btn btn-outline-primary d-none d-sm-inline-block">
            <i class="fa fa-share"></i>
            Ouvrir dans une autre page
        </a>
    </div>
{% endblock %}

{% block page_content %}
    <section class="container-xl">
        <iframe id="myIframe" src="{{ link }}" width="100%" height="900px"></iframe>
    </section>
{% endblock %}