{% extends 'panel/base.html.twig' %}
{% block title 'Infrastructure' %}

{% block content %}
    <div class="container-xl">

        <pre class="mermaid bg-light">
               architecture-beta
                group maison[Maison]
                group prod01[PROD 01]
                group prod02[PROD 02] in maison

                group prod02Public[Public] in prod02
                group prod02Local[Local] in prod02


                service internet(internet)[Internet]

                service fibre(internet)[FibreOrange] in maison


                service p1ReverseProxy(server)[NgnixProxyManager] in prod01
                service uptimeKuma(cloud)[UptimeKuma] in prod01
                service website(server)[Website] in prod01
                service dockge(server)[Dockge] in prod01
                service p1SignalAPI(disk)[p1SignalAPI] in prod01

                service p2ReverseProxy(server)[NgnixProxyManager] in prod02Public
                service vaultwarden(disk)[Vaultwarden] in prod02Public
                service finance(server)[Finance] in prod02Public
                service homeAssistant(disk)[HomeAssistant] in prod02Local
                service ipMailer(disk)[ipMailer] in prod02Local
                service p2SignalAPI(disk)[p2SignalAPI] in prod02Local
                service VPN(disk)[VPN] in prod02Local


                internet:R -- L:p1ReverseProxy
                internet:R -- L:p1SignalAPI
                uptimeKuma:L -- R:p1ReverseProxy
                website:L -- R:p1ReverseProxy
                dockge:L -- R:p1ReverseProxy

                internet:L -- R:fibre
                fibre:L -- R:p2ReverseProxy
                vaultwarden:R -- L:p2ReverseProxy
                finance:R -- L:p2ReverseProxy

                fibre:L -- R:homeAssistant
                fibre:L -- R:ipMailer
                fibre:L -- R:p2SignalAPI
                fibre:L -- R:VPN
        </pre>

    </div>
{% endblock %}
