{% extends 'panel/gestion/infrastructure-service/base.html.twig' %}

{% block content %}
    <div class="col-11 col-md-10 col-xl-8 d-flex flex-row justify-content-center me-auto ms-auto">

        <twig:panel:form
            cancelLink="{{ path('app_panel_gestion_infrastructure_service_list') }}"
            form="{{ form }}"
        >
            {% block title 'Édition du service "'~entity.name~'"' %}

            {% block content %}
                {% include 'panel/gestion/infrastructure-service/_form_content.html.twig' %}
            {% endblock %}
        </twig:panel:form>

    </div>
{% endblock %}
