:root {
  --background-color: #FFFDF7;
  --background-secondary: #F7F3E3;
  --background-secondary-hover: #F4F0E1;
  --background-danger: #ff9c9c;
  --background-danger-hover: #FFBEBE;
  --background-third: #edede9;

  --header-background-color: rgba(255, 253, 247, 0.5);

  --text-color: #1E293B;
  --text-color-secondary: #626770;
  --text-danger: #e63946;

  --primary: #FACD23;
  --primary-hover: #F4C71F;

  --mobile-width: 480px;
}

body.dark-mode {
  --background-color: #252422;
  --background-secondary: #161615;
  --background-secondary-hover: #1f1f1d;
  --background-third: #2d2d2c;

  --header-background-color: rgba(37, 36, 34, 0.5);

  --text-color: #F2EDE3;
  --text-color-secondary: #CBD5E1;
}
