@import "~bootstrap/scss/bootstrap";
@import '../../rm-tag/tag.css';
@import './overrides/navbar';
$red: #fa5c7c;

label.required {
    &:after {
        content: "*";
        padding-left: 5px;
        color: $red;
    }
}

html {
    height: 100vh !important;
    margin: 0 !important;
    padding: 0 !important;
}

body, .page, .page-body {
    height: 100% !important;
}

.disappeared {
    display: none !important;
}

footer {
    padding: 1rem 0 !important;
}