{% props title = 'Title', icon = 'tabler:home', link = '#' %}

<li class="nav-item">
	<a class="nav-link" href="{{ link }}">
		<div class="nav-link-content">
			<span class="nav-link-icon d-md-none d-lg-inline-block">
				<twig:ux:icon name="{{ icon }}" width="24" height="24"/>
			</span>
			<span class="nav-link-title">
				{{ title }}
			</span>
		</div>
	</a>
</li>
