.project--container {
  width: 90%;
  margin: auto;
  height: 90vh;

  .project-page_title_mobile {
    padding-top: 100px;
  }
  .project-page_title {
    padding-top: 100px;

    p {
      margin-left: 5px;
      width: 750px;
    }

    .project-page_links {
      display: flex;
      flex-direction: row;
      margin-top: 10px;

      a:first-child {
        margin-left: 5px;
      }
      a {
        margin-left: 10px;
      }
    }
  }

  .project-page_images {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;

    .project-page_image {
      margin: 15px auto auto;
    }
  }

  .project-page_return_projects_list {
    width: 225px;
    margin-top: 1500px;

    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: $primary_dark;
      color: $textColor-white;
      border: 0px;
      font-size: 1.1rem;
      border-radius: 10px;
      padding: .45rem 1rem;
      margin: 50px auto auto;

      img {
        height: 15px;
        margin-right: 10px;
        margin-left: 10px;
      }
    }
    button:hover {
      background-color: $primary;
    }
  }

}