.aboutme {
  width: 100%;
  height: 100vh;

  .aboutme_top_bar {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    width: 90%;
    padding-top: 150px;

    .aboutme_title {
      width: 50% !important;

      p {
        width: 100% !important;
      }
    }
    .aboutme_img {
      width: 150px;
      margin-left: 50px;

      .aboutme_img_presentation {
        width: 100%;
        border-radius: 100%;
      }
    }
  }

  .aboutme_paragraph {
    font-weight: lighter;
    margin-right: 5%;
    margin-top: 15px;
  }

  @import 'skills';
}

@media (min-width: $maxWidthMobile) {
  .aboutme {
    height: 80vh;

    .aboutme_top_bar {
      flex-direction: row-reverse;

      .aboutme_title {
        h2 {
          font-size: 2.5rem;
        }
        p {
          font-size: 1.2rem;
        }
      }
      .aboutme_img {
        margin-right: 100px;
        width: 250px;
      }
    }

    .aboutme_download {
      button {
        margin-top: 25px;
        font-size: 1rem;
      }
    }
  }
}

.download_cv_btn {
  background-color: $primary;
}
.download_cv_btn:after {
  background-color: $primary;
}
