.portfolio_title {
  padding-top: 50px;

  h2 {
    font-size: 1.5rem;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
  }
  p {
    width: 300px;
    margin-left: 5px;
    font-weight: lighter;
  }
}

@import "mobile_header";
@import "desktop_header";

@import "home";
@import "aboutme";
@import "projects";

@import "fe";
@import "fe_mobile";
@import "fe_desktop";

@import "contact";

@import "project_page";
