.skills-container {
  flex-direction: column;
  margin: 15px auto auto;

  .skills_row {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
  }

  .skills_card {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      height: 35px;
    }
    p {
      font-weight: lighter;
      text-align: center;
      margin: auto;
      margin-top: .5em;
    }
  }
}


@media (min-width: $maxWidthMobile) {
  .skills-container {
    margin-left: 0;

    .skills_row {
      justify-content: start;
    }
  }
}