@import 'common/colors';
@import 'common/variables';
@import 'common/common';
@import 'common/rm-animated';

$maxWidthMobile: 1000px;

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-VariableFont.ttf") format("opentype");
}

@font-face {
    font-family: "FiraCode";
    src: url("fonts/FiraCode-VariableFont.ttf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', serif;
    color: $textColor-white;
}

a {
    text-decoration: none;
}

body {
    background-color: $backgroundBlack;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-direction: column;

    p {
        font-size: 10px;
        font-family: "FiraCode", serif;
        margin-left: 10px;
        margin-bottom: 10px;
        text-align: left;
    }
}

.separed_tabs {
    width: 250px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #353535;
    margin: auto;
    padding: 0;
}

.desktop, .desktop_block {
    display: none;
}
.mobile {
    display: flex;
}
.mobile_block {
    display: block;
}
@media (min-width: $maxWidthMobile) {
    .desktop {
        display: flex;
    }
    .desktop_block {
        display: block;
    }
    .mobile, .mobile_block {
        display: none;
    }
}

.colored {
    color: $primary;
}

@import 'layout/fullPage';
@import 'portfolio/all.scss';
