$backgroundBlack: #282828;
$backgroundGray: #252525;

$textColor-white: #FFFFFF;
$textColor-black: black;

$boColor: #7D83FF;
$boColorHover: #666bf5;

//BOOSSTRAP
$primary:       #FDCA40;
$primary_dark: #d1a931;
$secondary:     #7D83FF;

//PROJECT
$passed_project: #8C0404;
$current_project: #048C22;

//FORMATION & EXPERIENCES
$current_fe: #01cc2e;