.cta_prev_btn {
  border: none;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #1c1a1c;
  cursor: pointer;
  transition: all 450ms ease-in-out;
  padding: 10px 20px;
}

.cta_prev_sparkle {
  stroke: $textColor-white;
  fill: $primary;
  transition: all 800ms ease;
}

.cta_prev_text {
  font-weight: 600;
  color: $textColor-white;
  font-size: medium;
  transition: all 800ms ease;
}

.cta_prev_btn:hover {
  background: linear-gradient(0deg, #f6d579, #FDCA40);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2), 0px 0px 180px 0px #FDCA40;
  transform: translateY(-2px);
}

.cta_prev_btn:hover .cta_prev_text {
  color: white;
}

.cta_prev_btn:hover .cta_prev_sparkle {
    stroke: white;
    stroke-width: 2;
    fill: $primary;
  transform: scale(1.2);
}
