body {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Inter", serif;
  color: var(--text-color);
}

p {
  font-size: 1rem;
}
@media (width > 450px) {
  p {
    font-size: 1.25rem;
  }
}

main {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px;
}
@media (width > 450px) {
  main {
    width: 75%;
  }
}

a {
  color: var(--text-color);
  text-decoration: none;
}

/**
CONTAINER / FLEX
 */
.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: start;
}

.align-items-end {
  align-items: end;
}

.gap-5 {
  gap: 5px;
}

.gap-20 {
  gap: 20px;
}

/**
TEXT
 */
.paragraph-article-first-letter {
  font-size: 1.5rem;
}
@media (width > 450px) {
  .paragraph-article-first-letter {
    font-size: 1.75rem;
  }
}

.text-primary {
  color: var(--primary);
}

.text-bold {
  font-weight: 700;
}

.text-italic {
  font-style: italic;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-underline {
  text-decoration: underline;
}

/**
MARGIN / PADDING
 */
.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.cursor-pointer {
  cursor: pointer;
}
