
{% trans_default_domain 'app' %}

<div id="mf" class="mobile_fe mobile_block">
    <hr class="separed_tabs">

    <div class="portfolio_title mobile_fe_title">
        <h2>{{ 'portfolio.formations.title'|trans }}</h2>
        <p>{{ 'portfolio.formations.description'|trans }}</p>
    </div>

    <div class="mobile_fe_list">

        {% include('portfolio/components/_formation_list.html.twig') %}

    </div>

</div>
