
{% trans_default_domain 'app' %}

<div id="me" class="mobile_fe mobile_block">
    <div class="portfolio_title mobile_fe_title">
        <h2>{{ 'portfolio.experiences.title'|trans }}</h2>
        <p>{{ 'portfolio.experiences.description'|trans }}</p>
    </div>

    <div class="mobile_fe_list">

        {% include('portfolio/components/_experience_list.html.twig') %}

    </div>

</div>
