<div class="social-network-full-page--container">

    <a href="https://discord.gg/XP7J8AtCHk">
        <img src="{{ asset('static/img/utils/social-network/discord.svg') }}" alt="Icone discord"/>
    </a>

    <a href="https://github.com/RomainMILLAN/">
        <img src="{{ asset('static/img/utils/social-network/github.svg') }}" alt="Icone github"/>
    </a>

    <a href="https://www.instagram.com/millan_romain/">
        <img src="{{ asset('static/img/utils/social-network/instagram.svg') }}" alt="Icone instagram"/>
    </a>

</div>
