{% trans_default_domain 'front' %}

<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>
			Romain MILLAN
			{% block title %}{% endblock %}
		</title>

		<link rel="shortcut icon" href="{{ asset('static/img/logo/favicon.svg') }}" type="image/x-icon">
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/solid.css">
		{% endblock %}
	</head>

	<body {% block body_attribut %} {% endblock %}>
		<header>
			{% block header %}{% endblock %}
		</header>

		<main>
			{% block main %}{% endblock %}
		</main>

		<footer {% block footer_attribut %} {% endblock %}> {% block footer %}{% endblock %}
			</footer>
		</body>
	</html>
