.fe_card {
  margin-top: 25px;

  .fe_time {
    font-size: .95rem;
    margin-bottom: 0px;

    .fe_city {
      font-style: italic;
    }
  }

  .fe_title {
    .fe_current {
      color: $current_fe;
      font-size: 2rem;
      margin-right: 5px;
      line-height: 2px;
    }
    .fe_title_extended {
      font-weight: lighter;
      font-style: italic;
    }
  }

}