.fe_desktop {
  width: 90%;
  margin: auto;
  height: 90vh;

  .fe_desktop_content {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 45px;

    .formations {
      padding-top: 85px;
    }

    .experiences{
      padding-top: 45px;
    }
  }

  &_footer {
    width: 350px;
    margin: 50px auto auto;
  }
}
