.projects {
  width: 90%;
  margin: auto;
  min-height: 90vh;

  .projects_list {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .project_card {
      min-height: 100px;
      width: 500px;
      border: 1px solid #3C3C3C;
      background-color: #3C3C3C;
      border-radius: 8px;
      transition: all 0.3s ease-in-out;

      img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100px;
        height: 100px;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        text-align: center;
        background-color: $backgroundGray;
      }
      div {
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;

        h2 {
          font-size: 1.25rem;
        }
        p {
          margin-top: 10px;
          margin-left: 10px;
          min-height: 100px;
        }
        .project_card_footer {
          display: flex;
          flex-direction: row;
          justify-content: end;
          align-items: center;
          padding-bottom: 15px;

          .project_status {
            border-radius: 100px;
            padding-left: 10px;
            padding-right: 10px;

            &_current {
              border: 1px solid $current_project;
            }
            &_passed {
              border: 1px solid $passed_project;
            }
          }
        }
      }
    }
    .project_card:hover {
      transform: scale(1.05);
    }
  }
}
