@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont.ttf") format("opentype");
}

@font-face {
  font-family: "FiraCode";
  src: url("../fonts/FiraCode-VariableFont.ttf") format("opentype");
}
