@use '../../rm-tag/tag.css';
@use 'reset.scss';

@use 'common/variables';
@use 'common/common';
@use 'common/title';
@use 'common/button';

@use 'layout/header/mobile';
@use 'layout/header/header';

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-VariableFont.ttf") format("opentype");
}

@font-face {
    font-family: "FiraCode";
    src: url("fonts/FiraCode-VariableFont.ttf") format("opentype");
}
