@use '../../rm-tag/tag.css';
@use 'reset.scss';

@use 'common/variables';
@use 'common/common';
@use 'common/title';
@use 'common/button';
@use 'common/card';
@use 'common/grid';

@use 'layout/header/mobile';
@use 'layout/header/desktop';
@use 'layout/footer';
@use 'layout/error';
@use 'layout/langage_selector';
@use 'layout/terms_of_use';
@use 'layout/theme_mode';

@use 'layout/portfolio/containers';

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-VariableFont.ttf") format("opentype");
}

@font-face {
    font-family: "FiraCode";
    src: url("fonts/FiraCode-VariableFont.ttf") format("opentype");
}
