{% trans_default_domain 'panel' %}

<div class="text-center p-3 h-100" style="background-color: rgba(0, 0, 0, 0.05);">
    <p class="m-0 p-0">V{{ version }} © 2023-{{ 'now' | date('Y') }} <twig:RomainMillan style="" width="125px" type="filled-black-animation"/>, {{ 'footer.all_right_reserved'|trans }}</p>
    <p class="m-0 p-0">{{ 'footer.no_reproduce'|trans }}</p>
</div>