{% extends 'frontend/base.html.twig' %}

{% block main %}
   <div class="title--container">
       <h2>User Interface</h2>
   </div>

    <section>
        <h1>H1</h1>
        <h2>H2</h2>
        <h3>H3</h3>
        <h4>H4</h4>
        <h5>H5</h5>
        <h6>H6</h6>
        <p>Paragraph</p>
    </section>

    <section>
        <button class="btn btn-primary">Primary Button</button>
        <button class="btn btn-secondary">Secondary Button</button>
    </section>
{% endblock %}
